<div class="page-about">
    <div class="poster-content" >
      <img width="205" height="307.5" src="{{getImage('500', film.poster_path)}}" alt="Image not found">
      <div class="content">
        <h2>{{film.title}}</h2>
        <h4>{{film.original_title}}</h4>
        <table>
          <tr>
            <td class="key">Дата релиза: </td>
            <td class="value">{{film.release_date}}</td>
          </tr>
          <tr>
            <td class="key">Страна: </td>
            <td class="value">{{strFromArr(film.production_countries)}}</td>
          </tr>
          <tr>
            <td class="key">Слоган: </td>
            <td class="value">{{film.tagline}}</td>
          </tr>
          <tr>
            <td class="key">Жанры: </td>
            <td class="value">{{strFromArr(film.genres)}}</td>
          </tr>
          <tr>
            <td class="key">Бюджет: </td>
            <td class="value">${{film.budget}}</td>
          </tr>
          <tr>
            <td class="key">Время: </td>
            <td class="value">{{film.runtime}} мин.</td>
          </tr>
        </table>
      </div>
    </div>
  <button class="favorite-btn" (click)="onFavorite(film)">{{favoriteText}}</button>

  <div class="description">
    <strong>Описание:</strong>
    {{film.overview}}
  </div>

  <h2>Похожее:</h2>
  <div class="carousel">
    <button (click)="newRecommended(page-1)" [disabled]="page===1"> < </button>

      <div class="flex-container">
        <a class="film-card" *ngFor="let film of filmsArr" [routerLink]="['/about',film.id]" [ngStyle]="style">

          <img class="film-photo" src="{{getImage('500', film.poster_path)}}" alt="Image not found">
          <div class="film-name">{{film.title}}</div>
          <div class="more-info">
            <div class="rating">Рейтинг: {{film.vote_average}}</div>
            <br>
            <div class="genres">
              Жанры: {{getGenreById(film.genre_ids)}}
            </div>
            <br>
            <div class="date">Дата релиза: {{film.release_date}}</div>
          </div>
        </a>
      </div>

    <button (click)="newRecommended(page+1)" [disabled]="page === 4"> > </button>


  </div>


  </div>

