<div class="container">
  <h1 class="title">KinoGid</h1>
  <div class="search-container">
    <input class="search-text" type="text">
    <button class="search-btn">Поиск</button>
  </div>
  <div class="flex-container">

    <div class="film-card" *ngFor="let film of filmsArr">
      <img class="film-photo" src="{{imgUrl + film.poster_path}}" alt="">
      <div class="film-name">{{film.title}}</div>
    </div>

  </div>
  <div class="pages-btn">
    <button [disabled]="numPage === 1" (click)="handlerPage('prev')">Пред. страница</button>
    <div class="num-page">{{numPage}}</div>
    <button (click)="handlerPage('next')">След. страница</button>
  </div>



</div>
