.container{
  margin-right: 8px;
  margin-bottom: 20px;
}

.title{
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0;
  user-select: none;
  cursor: pointer;
}

//
//.search-container{
//  display: flex;
//  flex-direction: row;
//  justify-content: flex-start;
//  align-items: center;
//  height: 36px;
//  margin: 8px;
//  width: calc(100% - 8px);
//  background-color: white;
//  border-radius: 18px;
//
//  & .search-text{
//    width: 100%;
//    height: calc(100% - 6px);
//    font-size: x-large;
//    border: 1px;
//    border-radius: 18px;
//    outline: none;
//  }
//}
//
//.search-btn{
//  width: 90px;
//  height: 36px;
//  background-color: #b1b8b5;
//  font-size: large;
//  border-radius: 18px;
//  border: 0;
//  outline: none;
//}
//
//.flex-container{
//  display: flex;
//  flex-flow: wrap;
//}
//
//.film-card{
//  margin-left: 8px;
//  width: calc(20% - 8px);
//  //height: fit-content;
//  cursor: pointer;
//  position: relative;
//  margin-bottom: 24px;
//  flex-grow: 0;
//  flex-shrink: 0;
//  order: 1;
//}
//
//.film-photo{
//  height: calc(100% - 25px);
//  width: 100%;
//}
//
//.film-name{
//  width: 100%;
//  text-align: center;
//  margin: 0;
//}
//
//.more-info{
//  background-color: #222;
//  position: absolute;
//  left: 0;
//  top: 0;
//  height: calc(100% - 25px);
//  width: 100%;
//  opacity: 0;
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//  align-items: center;
//
//  &:hover{
//    opacity: 0.8;
//  }
//}
//
//.genres{
//  text-align: center;
//}
//
//.pages-btn{
//  display: flex;
//  flex-direction: row;
//  align-items: center;
//  justify-content: center;
//  height: 30px;
//
//  &>*{
//    height: 100%;
//  }
//
//  & >input{
//    padding: 0;
//    border: 0;
//    width: 30px;
//    margin-left: 10px;
//    text-align: center;
//  }
//
//  & >div{
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    white-space: pre-wrap;
//    margin-right: 10px;
//  }
//}
