<div>
  <div class="search-container">
    <input class="search-text" type="text" (input)="text = $event.target.value" (keydown.enter)="find(text)">
    <button class="search-btn" (click)="find(text)">Поиск</button>
  </div>
  <div class="flex-container">
    <a class="film-card" *ngFor="let film of filmsArr" [routerLink]="['/about',film.id]">

      <img class="film-photo" src="{{getImage('500', film.poster_path)}}" alt="Image not found">
      <div class="film-name">{{film.title}}</div>
      <div class="more-info">
        <div class="rating">Рейтинг: {{film.vote_average}}</div>
        <br>
        <div class="genres">
          Жанры: {{getGenreById(film.genre_ids)}}
        </div>
        <br>
        <div class="date">Дата релиза: {{film.release_date}}</div>
      </div>
    </a>

  </div>

  <div class="pages">
    <nz-pagination [nzPageIndex]="numPage"
                   [nzTotal]="pageCount"
                   [nzPageSize]="1"
                   (nzPageIndexChange)="getPopular($event)"
                   [nzResponsive]="true"
    ></nz-pagination>
  </div>

</div>
